<?xml version="1.0"?>

<launch>

    <arg name="world_name" value="$(find robot_model_pkg)/world/simple_race_track.world"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        
    </include>

    <!-- Load robot description -->
    <param name="robot_description"
            command="$(find xacro)/xacro '$(find robot_model_pkg)/urdf/car.xacro'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model robot_model -param robot_description -x -12 -y 0 -z 0.05 -Y 0"/>

    <!-- Launch obstacle avoidance node -->
    <node name="obstacle_avoidance_node" pkg="robot_model_pkg" type="obstacle_avoidance_node.py" output="screen"/>

</launch>